* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.5;
  transition: color 0.3s, background-color 0.3s;
}