.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 280px;
  height: 100%;
  background-color: var(--sidebar-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s;
}

.content {
  flex: 1;
  height: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

:global(.dark-theme) .sidebar {
  background-color: var(--sidebar-color);
  border-right-color: var(--border-color);
}

:global(.dark-theme) .content {
  background-color: var(--background-color);
  color: var(--text-color);
}